{% extends "WAZAGestionBundle:Default:index.html.twig" %}
{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
            <div class="row">
                <button style="margin:10px;" type="submit" name="action" class="btn btn-success col-lg-2 btn-md" data-toggle="modal" data-target="#modifier" id="exportBtn">
                            <span class="glyphicon glyphicon-edit"></span> {{ 'change_password.submit'|trans }}
                </button>
            </div>
    {{ form_end(form) }}
{% endblock %}