{% extends "WAZAComptabiliteBundle:Core:list_ob_prod_modele.html.twig" %}
      
{% block toolbar_production %}
    <div class="container">
        <div class="row">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-filter"></span> Filtre
            </button>
        </div>
    </div>
{% endblock %}